name: Rust

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install MinGW
        run: sudo apt-get update && sudo apt-get install -y mingw-w64

      - name: Add Windows target
        run: rustup target add x86_64-pc-windows-gnu

      - name: Build
        run: cargo build --target x86_64-pc-windows-gnu --verbose

      - name: Test
        run: cargo test --target x86_64-pc-windows-gnu --no-run